/* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main-section {
    display: flex;
    flex: 1;
    margin-top: 70px; /* same as navbar height */
}

.sidebar {
    width: 420px;
    background-color: #2f3542;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 70px); /* full height minus navbar */
    position: fixed;
    top: 70px;
    left: 0;
}

.content-area {
    margin-left: 420px; /* leave space for sidebar */
    padding: 20px;
    width: calc(100% - 420px); /* full width minus sidebar */
    height: calc(100vh - 70px); /* full height minus navbar */
    overflow-y: auto;
    background-color: #f1f2f6;
    box-sizing: border-box;
}
